*{
    box-sizing: border-box;
}

body{
    display:block !important;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

.title{
    text-align: center;
    margin: 30px 0 20px;
}

.school-img{
    display: block;
    margin: 0 auto 50px;
    width: 80%;
    max-width: 900px;
    border-radius: 15px;
}

.banner-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 30px;
    margin: 0 auto 60px;
}

.banner{
    display: block;
    width: 260px;
    background: white;
    padding: 20px;
    border-radius: 18px;
    text-align: center;
    text-decoration: none;
    color: black;
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

.banner:hover{
    transform: translateY(-10px);
    background: #ffe6f0;
}

.banner h2{
    margin-bottom: 15px;
}

.banner p{
    line-height: 1.5;
}
.banner,
.banner *{
    writing-mode:horizontal-tb !important;
    transform: none !important;
}
.center-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}
.image-banner{
    position: relative;
    width: 80%;
    max-width: 900px;
    margin: 30px auto 50px;
}

.image-banner img{
    width: 100%;
    border-radius: 15px;
    display: block;
}

.image-banner h1{
    position: absolute;
    top: 20px;          
    left: 50%;
    transform: translateX(-50%);

    color: white;
    font-size: 38px;
    font-weight: bold;
    
    white-space:nowrap;

    text-shadow: 0 4px 10px rgba(0,0,0,0.7);
    
    background: none;    
    padding: 0;
}